body{background:url(../images/bg_bodybg.jpg) repeat-x 0 48px;}
#main h2, h2#menutitle{color:#FFF; text-shadow:0 2px 3px rgba(0,0,0,.5); font-family:'Permanent Marker', helvetica, arial; font-size:3em; margin:51px 0 0 0; padding:.25em .25em .25em 0;}
/* HIDE STUFF */
#globalnav, #aside {display:none;}
#main {background:transparent;border:none;box-shadow:none;}
#section.hasmenu,section.hasmenu,.section.hasmenu{float:none;width:970px; padding:0;}
/* HORZY NAV */
.section {margin:0; padding:27px 0 0 0; background:transparent; min-height:800px;}
.gecko .section, .ie .section {padding-top:12px;}
.slider {width:960px; overflow:hidden; margin-left:-5px; position:relative; background:transparent;}
.slidernav {list-style:none; font-size:1em; margin:0 0 50px 0; border-radius:6px; padding:0 10px 0 10px; box-shadow:0 2px 5px rgba(0,0,0,.5); width:940px;
  background-color: #f2f5f6;
  background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc));
  background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
  background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
  background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
  background: linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );
  }
.ie .slidernav,.gecko .slidernav {margin-bottom:66px;}
.slidernav li {padding:0; display:inline-block;}
.ie7 .slidernav li {display:block; float:left;} /*IE7 doesn't know inline-block, adding float requires .clearfix to .slidernav in the HTML*/
.slidernav a {display:inline-block; padding:10px; margin:0; color:#000; border-radius:0px; font-family: 'Permanent Marker', helvetica, arial; text-shadow:none;}
.slidernav a:hover {text-decoration:none; color:#fff; text-shadow:none;}
.slidernav a.current {color:#fff; text-shadow:none;}
.slides_window {width:960px; overflow:hidden; padding-top:10px;}
.slides {width:10000px; overflow:hidden; position:relative;}
.slide {float:left; width:960px; min-height:800px;}
#nav_intro:hover, #nav_intro.current {background:#0054a5; text-decoration:none;}
#nav_finances:hover, #nav_finances.current {background:#8ec63f; text-decoration:none;}
#nav_getinvolved:hover, #nav_getinvolved.current {background:#7abde8; text-decoration:none;}
#nav_business:hover, #nav_business.current {background:#ef3125; text-decoration:none;}
#nav_academicsuccess:hover, #nav_academicsuccess.current {background:#ffcf01; text-decoration:none;}
#nav_lifeafter:hover, #nav_lifeafter.current {background:#00a6da; text-decoration:none;}
#nav_finances,#nav_getinvolved,#nav_business,#nav_academicsuccess,#nav_lifeafter {}
/* TYPOGRAPHY */
#main h3 {font-weight:normal; font-style:italic; font-size:3em; margin:0 0 .5em 0; color:#FFF; text-shadow:0 2px 3px rgba(0,0,0,.5);  }
.slide div {box-shadow:0 3px 6px #666; margin-bottom:10px; outline:none;}
.slide p {padding:1em; margin:0;}
.slide p img {margin-top:-5px;}
.slide ul {padding-left:1.75em;}
/*SLIDES*/
.slide#intro {background:url(../images/slide1.png) no-repeat top left;}
.slide#finances {background:url(../images/slide2.png) no-repeat top left;}
.slide#getinvolved {background:url(../images/slide3.png) no-repeat top left;}
.slide#business {background:url(../images/slide4.png) no-repeat top left;}
.slide#academicsuccess {background:url(../images/slide5.png) no-repeat top left;}
.slide#lifeafter {background:url(../images/slide6.png) no-repeat top left;}